@import url('https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap');

#title {
    font-family: 'Yeon Sung', cursive;
    text-align: center;
    padding: 20px;
    font-size: 50px;
    margin-top: 60px;
}